extends layout

block content
  h1 Title: #{book.title}

  p #[strong Author:]
    a(href=book.director.url) #{book.director.name}
  p #[strong Summary:] #{book.summary}
  p #[strong Genre:]
      each val, index in book.genre
        a(href=val.url) #{val.name}
        if index < book.genre.length - 1
          |,

  hr
  p
    a(href=book.url+'/delete') Delete Book
  p
    a(href=book.url+'/update') Update Book
